body{
    background-color: #f3f4f6;
}

#root{
    width: 100%;
    height: 100%;
    background-color: #f3f4f6;
}

.home-hero, .hero-page{
    background-image: url("../assets/home.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.item .answer {
    max-height: 0;
    overflow: hidden;
    transition: .3s cubic-bezier(0,1,0,1);
}

.item .answer.active{
    max-height: 999px;
    transition: .3s cubic-bezier(1,0,1,0);
}

.login,.register{
    background-image: url("../assets/login.jpg");
    background-position: center;
    background-size: cover;
}

.not-found{
    background: linear-gradient(25deg, #f3f4f6 40%, transparent 41%, transparent 59%, #f3f4f6 60%) ,linear-gradient(90deg, transparent 45%, #6c35de 45%, #6c35de 55%, transparent 55%, transparent 20%, #6c35de 20%, #6c35de 30%,transparent 30%);
        background-size: 6em 6em;
        background-color: #f3f4f6;
        opacity: 1
}

@media screen and (max-width: 480px) {
    .navbar .links{
        right: -100%;
        transition: all .3s;
    }

    .navbar .links.active{
        right: 0;
    }

    .overlay.active{
        display: block;
    }
}