@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f3f4f6;
}

.drawer-side > .drawer-overlay{
    cursor: auto;
}

.home-hero{
    background-image: url("./assets/home.jpg");
}

.about-hero{
    background-image: url("./assets/about.jpg");
}

.services-hero{
    background-image: url("./assets/services.jpg");
}

.pricing-hero{
    background-image: url("./assets/pricing.jpg");
}

.contact-hero{
    background-image: url("./assets/contact.jpg");
}

.hero-tagline{
    text-shadow: 0 5px 30px rgb(0,0,0,.5);
}

.steps .step{
    text-align: start;
}

.client1{
    transform: translateX(calc(-85vw - 1.5rem));
}

.client2{
    transform: translateX(calc(2*(-85vw) - 3rem));
}

.login, .signup{
    background-image: url("./assets/login.jpg");
}

.login form,.signup form{
    backdrop-filter: blur(5px);
}